.content-welcome {
  height: 100vh;
  opacity: 0.8;
}

.content-welcome h1 {
  font-size: 2.5em;
  color: white !important;
}

.content-welcome header p {
  color: #ff57ff !important;
}

.content-welcome a {
  color: white !important;
}

.links:first-of-type:after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.mce-txt {
  font-family: "Nunito", sans-serif !important;
}

